.logo{
    height: 100px;
    width: 120px;
}

.carousel-item{
    max-height: 700px;
}

.card{
    justify-content: center;
    margin: 15px;
    border: solid gray 2px;
}

.card-img-top{
    max-height: 200px;
    max-width: 200px;
}

.row{
    justify-content: center;
}